  .container-block{
    position: relative;
    left:35%;
    display: flex;
    flex-direction: column;
    padding:30px 0;
    width:500px;
    height:70%;
    z-index:1;
  }

.text{
  padding:40px;
  font-weight:lighter;
  text-transform:uppercase;
  color:#414141;
}

.white{
  background: linear-gradient(#8CA6DB, #B993D6);
  padding: 10rem 50px ;
  margin: 3rem 0 0 0;
  position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
color: #61dafb; 
}
.input-line {
  background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: rgb(15, 1, 1);
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  transition: all .2s ease;
}
input {
  border: none;
}
.input-field:focus {
  border: none;
  transition: all .2s ease;
}

.btn{
    display: inline-block;
    border-radius: .15rem;
    width: 150px;
    letter-spacing: 2px;
    margin: 30px auto;
    color: pink;
    background: #61dafb; 
    padding: 0.4rem 0.9rem;
    cursor: pointer;
    text-transform: uppercase;
    border: 3px solid #0a0a0a
  }

  .btn:focus{
    color: #ee0c0c;
    transition: color .2s ease;
  }  


