.container {
    margin: 3rem;
    padding: 0;
    font-family:  sans-serif;
    background: url('/img/sky.jpg') no-repeat;;
    
    /* background-color: green */
  }

.text{
  font-size: 2rem;
  width: 2rem;
  color: #10eb7d;
}

form{
  padding: 10rem 50px ;
  margin: 3rem 0 0 0;
  background-color: #125ef8;
  position: bottom;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #61dafb; 
}
  
label{
  text-decoration: 10px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
    color: pink;
    background: #61dafb; 
    padding: 0.4rem 0.9rem;
    cursor: pointer;
    text-transform: uppercase;
    border: 3px solid #0a0a0a
  }

  .btn:focus{
    color: #f9f9f9;
  }