.navbar{
    display: flex;
    top: 0;
    margin: 0;
    padding: 0;
    background: rgb(165, 3, 3);
  }

  .nav{
    display: flex;
    position: relative;
    text-transform: capitalize;
    row-gap: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .nav:hover{
    color: gold;
    cursor: pointer;
  }

  .right{
    font-size: 1.5rem;
    font-weight: bold;
  }

  

  /* NavLink{
      display: flex;
      flex-flow: column;
      word-spacing: 5rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: green;
  } */